button {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 200px;
    position: relative;
}

button::before {
    content: "";

}

button span:nth-child(1) {
    position: absolute;

}